/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/css
/public/js
/storage/*.key
/vendor
.env
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/v8-compile-cache-0
